{% extends 'base.html' %}
{% block title %}BanalCast - Erro 404{% endblock %}
{% block container %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Error 404</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <h1><center>Pode voltar, erro 404!</center></h1>
      </div>
    </div>
  </div>

{% endblock %}