{% extends 'base.html' %}
{% block title %}BanalCast{% endblock %}
{% block container %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>BanalCast</h1>
            <span class="subheading">Dois mongoloides e um podcast, atualmente no {{ qtd_poste }}º episodio.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">

        {% for poste in postes.object_list %}

          <div class="post-preview">

            <a href="/post/{{ poste.pk }}">
              <img src="/static/img/about-bg-01.jpg" class="rounded" hspace="6" width="220" height="225" align="left">
              <h1 class="post-title">
                {{ poste.titulo }}
              </h1>
              <h4 class="post-subtitle">
                {{ poste.sub_titulo }}
              </h4>
            </a>

            <a href="#">
              <button type="button" class="btn btn-outline-info">Spotify</button>
            </a>
            <a href="#">
              <button type="button" class="btn btn-outline-info">Apple Podcast</button>
            </a>
            <a href="#">
              <button type="button" class="btn btn-outline-info">Google Podcast</button>
            </a>
            <a href="#">
              <button type="button" class="btn btn-outline-info">App Podcast</button>
            </a>

            <p class="post-meta">Posted by
              <a href="#">{{ poste.autor_post }}</a>
              and the episode released on {{ poste.data_post }}.
            </p>

          </div>

        <hr>
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
        
          <ul class="pagination justify-content-center">
            {% if postes.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{postes.previous_page_number}}">Previous</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}

            {% for number in postes.paginator.page_range %}
              {% if postes.number == number %}
                <li class="page-item active"><a class="page-link" href="?page={{ number }}">{{ number }}</a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
              {% endif %}
            {% endfor %}

            {% if postes.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{postes.next_page_number}}">Next</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}
          </ul>

        </div>
      </div>
    </div>
  </div>

{% endblock %}